body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

nav {
    background-color: #058d22;
    color: white;
    padding: 0 5%;
    position: relative;
}

.logo img {
    height: 80px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4CAF50;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.form-cadastro-estabelecimento {
    width: 70%;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-cadastro-estabelecimento input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-cadastro-estabelecimento h1 {
    text-align: center;
    margin-bottom: 40px;
}

.form-cadastro-estabelecimento button {
    width: 100%;
    padding: 10px;
    background-color: #058d22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-cadastro-estabelecimento button:hover {
    background-color: #046b1a;
}
#cep{
    width: 40%;
    margin-right: 200px;
}
.form-cadastro-estabelecimento select{
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-right: 200px;
}



@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #058d22;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links a {
        padding: 15px;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%) !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}